<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
      <add key="AutoMapper Dev" value="https://www.myget.org/F/automapperdev/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>